
{lib_dirs, ["deps/annotations"]}.
{deps, [
    {parse_trans, ".*",
        {git, "https://github.com/esl/parse_trans.git"}},
    {annotations, ".*", {git, "../../.."}}
]}.

{plugins, [rebar_annotations_plugin]}.

{annotations, [
    {registered, [conditional]}
]}.

{erl_first_files, ["src/conditional.erl"]}.
